<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/uploadForm.js"></script>

</head>

<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

    <form class = "main-upload-form" method="POST" enctype="multipart/form-data" action="/">
        <p class = "main-upload-form-title"> Панель загрузки и обработки файла задания </p>

        <div class ="input_wrapper">

        <input name="file" type="file" accept =".pdf" id="input_file" class="input input_file" multiple>
        <label for="input_file" class="input_file-button">
            <span class="input_file-icon-wrapper">
                <img class="input_file-icon"   src="/static/images/add.svg"
                                                       th:src="@{/static/images/add.jpg}" width="25">
            </span>
            <span class="input_file-button-text">Выберите файл</span>
        </label>

            <input name ="submit_file" type="submit" id ="submit_file" value="Загрузить файл" />
        </div>
    </form>


<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

</body>
</html>